// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name:                &; // #{$block-name}__element

  display: none;

  @media (min-width: $screen-sm) {
    display: block;
  }

  &__list {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
  }
  
}
