mixin main-nav(selected)

  -
    var menu = {
      'Книги': 'books-inner.html',
      'Рекомендации': 'recommends.html',
      'Контакты': 'contact.html'
    };

  nav.main-nav.col-sm-5
    ul.main-nav__list
      each val, key in menu
        li(class= selected.toLowerCase() === key.toLowerCase() ? 'main-nav__item  main-nav__item--active' : 'main-nav__item')
          a(href=val, title=key)= key
