mixin banner()

  section.banner
    svg.banner__shape(width="101", height="14")
      use(xlink:href="img/sprite-svg.svg#banner-shape")
        
    h2.banner__title Мы открыли для вас уютную библиотеку
    p.banner__meta Приходите к нам по адресу Никитская 10, каждый день с 12:00 до 18:00
