mixin banner()
  section.banner
    h2.banner__title Мы открыли для вас уютную библиотеку
    p.banner__meta Приходите к нам по адресу Никитская 10, каждый день с 12:00 до 18:00
    img.banner__img(src="img/banner.jpg", alt="banner")
