// В этом файле должны быть стили для БЭМ-блока promo, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promo {

  $block-name:                &; // #{$block-name}__element

  &__meta {
    margin-top: 30px;
    font-size: 14px;
    font-style: italic;
  }

  &__title-wrap {
    border: 8px #e8e8e8 solid;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__link {
    font-size: medium;
    text-decoration: none;
    color: #1a1ff7;
  }

  &__slider-img {
    display: none;

  @media (min-width: $screen-md) {
    display: block;
  }
  }
}
