mixin description-book()
  section.description-book
    h3.description-book__title Короткое описание
    
    p.description-book__descr В отличие от обычных покупателей суперпотребители очень заинтересованы в ваших товарах, а возможно, даже слегка помешаны на них. Они знают о кроссовках всё и имеют десятки пар. Они спортивные фанаты с копиями футболок любимой команды, а стены их гаражей украшены подписанной символикой.

  a.description-book__link Показать полностью
