mixin recommends(title)

  section.recommends
    .container
      .recommends__wrap
        h2.recommends__title= title
        a.recommends__link(href="#") Все новинки

      .recommends__inner
        .recommends__cards
          +card(true)
          +card(true)
          +card(true)
          +card(true)

