// В этом файле должны быть стили для БЭМ-блока contact-form, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contact-form {

  $block-name:                &; // #{$block-name}__element


  margin-top: 40px;
  margin-bottom: 50px;
  border: 10px solid #e8e8e8;



  &__wrap {
    margin-left: 10px;

    &:before {
      position: absolute;
      width: 80px;
      height: 10px;
      background-color: #fff;
      display: block;
      bottom: -93px;
      left: 80px;
      content: no-open-quote;
    }

    &:after {
      position: absolute;
      width: 80px;
      height: 10px;
      background-color: #fff;
      display: block;
      bottom: -610px;
      left: 160px;
      content: no-open-quote;
    }


    @media (min-width: $screen-sm) {
      margin-left: 20px;

      //   &:before {
      //     position: absolute;
      //     width: 80px;
      //     height: 10px;
      //     background-color: #000;
      //     display: block;
      //     bottom: 100px;
      //     left: 80px;
      //     content: no-open-quote;
      // }
  }
  }

  &__title {
    display: inline-block;
    margin-top: 60px;
    font-weight: bold;
    font-size: 30px;

    @media (min-width: $screen-sm) {
      width: 100%;
    }
  }

  &__descr {
    display: inline-block;
    margin-top: 20px;
  }

  &__inner {
    margin-top: 30px;


    input {
      margin-bottom: 15px;
      border: 0;
      outline: 0;
      border-bottom: 3px solid #d0d0d0;
      color: #c6c6c6;
      font-size: 16px;

        @media (min-width: $screen-sm) {
          width: 40%;
          margin-right: 30px;
        }
        @media (min-width: $screen-sm) {
          width: 30%;
        }
    }

  }

  &__inner-puch {
      width: 240px;
      font-size: 16px;
      padding: 10px;
      margin-bottom: 70px;
      border-radius: 2px;
      color: #fff;
      background-color: #1f1f1f;

        @media (min-width: $screen-lg) {
          display: inline-block;
          position: relative;
          bottom: 85px;
          left: 800px;
        }
  }

  &__conf {
    color: #3325bb;
  }
}
