mixin contact-form()


  .container
    form.contact-form(action="")
      .contact-form__wrap
        span.contact-form__title Есть вопросы?
        span.contact-form__descr
          | Напишите нам на почту. Отвечаем в течении дня
        .contact-form__inner
          input(type="mail" value="Ваша почта")
          input(type="text" value="Сообщение")
          
        
        .contact-form__check
          input(type="checkbox")
          label Я согласен(-на) с 
            a.contact-form__conf(href="#") политикой конфиденциальности
            | и 
            a.contact-form__conf(href="#") правилами обработки данных
        button.contact-form__inner-puch(type="submit") Отправить
