mixin contact()
  section.contact
    .container
      h2.contact__title Контакты
      ul.contact__meta
        li Набережная реки Фонтанки, 202
        li c 9:00 до 19:00 ежедневно
        li +7 (911) 123 45 67
