mixin socials()
  
  .socials
    ul
      li
        a(href="#")
          svg(width="20", height="20")
            use(xlink:href="img/sprite-svg.svg#icon-facebook")
        span 15

      li
        a(href="#")
          svg(width="20", height="20")
            use(xlink:href="img/sprite-svg.svg#icon-vk")
        span 4

      li
        a(href="#")
          svg(width="20", height="20")
            use(xlink:href="img/sprite-svg.svg#icon-thumbsUp")
        span 150

      li
        a(href="#")
          svg(width="20", height="20")
            use(xlink:href="img/sprite-svg.svg#icon-thumbsDown")
        span 0