mixin card(is_new)

  .books__item
    .card__img-wrap
      img.card__img(src="img/card1.jpg", alt="card1")
    .card__info
      h3.card__meta Латеральная логика
      span.card__descr Головоломный путь к нестандартному мышлению

    if (!is_new)
      span.card__price 500 ₽