mixin contact-info()

  section.contact-info
    .container
      h2.contact-info__title Контакты
      ul.contact-info__meta
        li Набережная реки Фонтанки, 202
        li c 9:00 до 19:00 ежедневно
        li +7 (911) 123 45 67
      #map