mixin contact-info()

  section.contact-info
    .container
      h2.contact-info__title Контакты
      ul.contact-info__meta
        li.contact-info__descr
          span.contact-info__text Набережная реки Фонтанки, 202
        li.contact-info__descr
          span.contact-info__text c 9:00 до 19:00 ежедневно
        li.contact-info__descr
          span.contact-info__text +7 (911) 123 45 67
      //- #map <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A61ad9890fab34607290ff0f0e2763248a0746c1efcaf3a32079d2183b3f81250&amp;source=constructor" width="840" height="340" frameborder="0"></iframe>