mixin book-info()
  row.book-info
    p.book-info__title Артикул
      span.book-info__value 1090763
    p.book-info__title В наличии
      span.book-info__value 5 шт.
    p.book-info__title Издательство
      span.book-info__value Издал
    p.book-info__title Цена
      span.book-info__value 800 ₽

