mixin new-block()

  section.new-block
    container
      h2.new-block__title Наши новинки
      a.new-block__link(href="#") Все новинки

      .new-block__
        +card(true)
        +card(true)
        +card(true)
        +card(true)

