extends templates/layout-home.pug

block meta
  title Суперпотребители
  meta(name='description', content='Книги')



block content
  +book-description()
  +recommends('Книги по тематике')
  +banner()