extends templates/layout-home.pug

block meta
  title КОНТАКТЫ
  meta(name='description', content='Контакты')

block page-header
  +main-nav('контакты')

block content
  +contact-info()
  +contact-form()
  +banner()

