//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/page-header/page-header.pug
include blocks/page-footer/page-footer.pug
include blocks/promo/promo.pug
include blocks/filter/filter.pug
include blocks/card/card.pug
include blocks/pagination/pagination.pug
include blocks/features/features.pug
include blocks/new-block/new-block.pug
include blocks/book-inner/book-inner.pug
include blocks/main-content/main-content.pug
include blocks/book-description/book-description.pug
include blocks/book-info/book-info.pug

include blocks/description-book/description-book.pug
include blocks/more-books/more-books.pug
include blocks/banner/banner.pug
include blocks/contact/contact.pug
include blocks/form/form.pug
