extends templates/layout-home.pug

block meta
  title BOOK STORE
  meta(name='description', content='BOOK STORE!')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')