// В этом файле должны быть стили для БЭМ-блока filter, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filter {

  $block-name:                &; // #{$block-name}__element

  &__list {
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 20px 0 20px 0;
    overflow: scroll;
    display: flex;
    background-color: #e8e8e8;


  }

  &__item {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 16px;

    @media (min-width: $screen-sm) {
      margin-left: 70px;
    }
  }

  &__item:link {
    color: #000;
  }
  &__item:visited {
  }

  &__item:hover {
    text-decoration: none;
    color: #154088;
  }

  &__item:active {
    text-decoration: none;
    border-bottom: 2px solid #ef529f;
    padding-bottom: 3px;
  }

  &__title-wrap {
    display: inline-flex;
  }

}
