mixin filter(selected)

  -
    var menu = {
      'Все': '#all',
      'Маркетинг': '#',
      'Научпоп': '#',
      'Бизнес': '#biz',
      'Творчество': '#'
    };

  nav.filter
    ul.filter__list
      each val, key in menu
        li(class= selected.toLowerCase() === key.toLowerCase() ? 'filter__item  filter__item--active' : 'filter__item')
          a(href=val, title=key)= key
