// В этом файле должны быть стили для БЭМ-блока filter, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filter {

  $block-name:                &; // #{$block-name}__element

  &__list {
    margin: 20px 0 20px 0;
    display: flex;
    background-color: #e8e8e8;
  }

  &__item {
    margin: 10px;
    font-size: 16px;
  }

}
