mixin main-content()

  section.main__content
    .main__content-inner

      +filter('Все')

      +card()
      +card()
      +card()
      +card()
      +card()
      +card()
      +card()
      +card()

      +pagination()
