// В этом файле должны быть стили для БЭМ-блока book-description, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.book-description {

  $block-name:                &; // #{$block-name}__element


 

  &__aside {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
      border: 5px solid #e8e8e8;
    }
  }

  &__card {



    @media (min-width: $screen-sm) {
      display: flex;
    }
  }


  &__card-title {
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;

    @media (min-width: $screen-sm) {
      width: 100%;
    }
  }

  &__card-caption {
    display: none;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.1;

    @media (min-width: $screen-sm) {
      display: block;
      width: 100%;
    }
  }

  &__descr {
    width: 100%;
    margin-top: 25px;
    font-weight: normal;
    font-size: 16px;
    color: #9f9f9f;
  }


  &__imgs {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
      margin-top: 20px;
    }
  }

  &__card-super {
    display: block;
    line-height: 1.1;
    font-size: 36px;


      @media (min-width: $screen-sm) {
        display: none;
      }
  }

  &__cover {
    display: block;
    margin-top: 20px;


    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__info {
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;


  }

  &__info-title {
    color: #9f9f9f;

  }

  &__info {

    @media (min-width: $screen-sm) {
      width: 300px;
      position: absolute;
      right: 150px;
      bottom: 150px;
    }
  }

  &__info-value {
    position: absolute;
    right: 40px;
  }

  &__order {

    @media (min-width: $screen-sm) {
      position: absolute;
      top: 495px;
      right: 75px;
    }
  }

  &__order-btn {
    float: left;
    display: block;
    height: 45px;
    width: 240px;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    color: #fff;
    background-color: #1f1f1f;

    @media (min-width: $screen-sm) {
      margin-right: 30px;
    }
  }

  &__order-number {
    width: 80px;
    height: 45px;
    background-color: #ddd;
    border-width: inherit;
    text-align: center;
    font-size: 16px;
  }

  &__likes {
    margin-top: 70px;
    border: 3px solid #000;
  }

  &__likes-btn {
    color: #d85c9f;
  }

  &__likes-desc {
    margin-left: 10px;
    font-style: italic;
    font-size: 14px;
  }

  &__description-title {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 24px;
  }

  &__description-text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  &__description-text--hidden{
    display: none;
  }

  &__description-link {
    margin-bottom: 50px;
    text-decoration: none;
    color: #1a1ff7;
  }
}