mixin features()

  section.features
    .container
      h2.features__title Доставим в любое место 
      span.features__descr // ну почти в любое

      .features__inner
        .features__item
        svg(width="24", height="24")
          use(xlink:href="img/sprite-svg.svg#book_book")
        p Покупаете книги на сайте в любимом формате — бумажные, электронные или аудио.


      .features__inner
        .features__item
        svg(width="24", height="24")
          use(xlink:href="img/sprite-svg.svg#icon_box")
        p Мы подарим вам «Набор читателя» и добавим в посылку.

      .features__inner
        .features__item
        svg(width="24", height="24")
          use(xlink:href="img/sprite-svg.svg#icon_delivery")
        p Бесплатно доставляем заказы от  3 000  по всей России.

      .features__inner
        .features__item
        svg(width="24", height="24")
          use(xlink:href="img/sprite-svg.svg#icon_map")
        p Доставка в более чем 300 городов России, по Москве и Санкт-Петербургу – бесплатно.